<header>
  <div class="imgcont wraper">
    <%= render 'partials/menu' %>
    <div class="covertext">
      <h3>New Article</h3>
      <h1><%= @first_article.title %></h1>
    </div>
    <div class="gradient">
      <%= image_tag @first_article.background.url, class: 'imgback' %>
    </div>
  </div>
</header>


<section>
  <div class="title">
    <h2>Tutoriales recientes</h2>
  </div>
  <%= render 'partials/articles' %>
</section>

<div class="yt-box">
  <div class="content yt-di">
    <div class="content yt-text direction">	
      <h3>Aprende a programar con videotutoriales</h3>
      <h4>!Nuevo video todas las semanas!</h4>
    </div>

    <div class="direction yt-img">

      <%= image_tag 'youtube.svg', class: 'yt-img' %>
    </div>
  </div>
</div>